* {
    margin: 0;
    padding: 0;
}

.header-law {
    width: 70%;
    margin: auto;
    padding: 1vh 0 1vh 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

.header-law h1 {
    color: rgb(16, 66, 214);
}

.signatories-wrapper, .agreement-wrapper {
    width: 90%;
    margin: 1vh auto;
    text-align: start;
    font-family: sans-serif;
    font-size: 12px;
    border: rgb(44, 190, 93) 2px solid ;
    border-radius: 10px;
}

.signatories, .agreement {
    margin: 10px 10px 10px ;
}

div[class*='lessor-labels-wrapper'], div[class*='tenant-labels-wrapper'] {
    margin: auto;
    width: 95%;
}

div[class*='lessor-labels-wrapper'] div, div[class*='tenant-labels-wrapper'] div {
    display: inline-block;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.label-wrapper {
    min-width: 75px;
    width: 75px;
    max-width: 75px;
}

.input-wrapper {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
}

.input-wrapper-adress {
    min-width: 300px;
    width: 35%;
    max-width: 50%;
}

.input-wrapper-adress input {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
}

.next-btn-wrapper {
    width: 70%;
    margin: auto;
    padding: 1vh 0 1vh 0;
    text-align: center;
    font-family: sans-serif;
}

.next-btn-wrapper a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(155, 110, 255);
    padding: 9px;
}

.next-btn-wrapper a:hover {
    background-color: rgb(94, 23, 248);
    transition: 500ms;
}