* {
    margin: 0;
    padding: 0;
}

.financial-wrapper {
    width: 90%;
    margin: 1vh auto;
    text-align: start;
    font-family: sans-serif;
    font-size: 12px;
    border: rgb(59, 44, 190) 2px solid ;
    border-radius: 10px;
}

.financial {
    margin: 10px 10px 10px ;
}

.lessor-labels-wrapper input {
    width: 6rem;
}

.next-btn-wrapper {
    width: 70%;
    margin: auto;
    padding: 1vh 0 1vh 0;
    text-align: center;
    font-family: sans-serif;
}

.next-btn-wrapper a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(155, 110, 255);
    padding: 9px;
}

.next-btn-wrapper a:hover {
    background-color: rgb(94, 23, 248);
    transition: 500ms;
}