* {
    margin: 0;
    padding: 0;
}

.clauses-wrapper {
    width: 90%;
    margin: 1vh auto;
    text-align: start;
    font-family: sans-serif;
    font-size: 12px;
    border: rgb(59, 44, 190) 2px solid ;
    border-radius: 10px;
}

.clauses-solidarity, .clauses-resolution {
    margin: 10px 10px 10px ;
}