* {
    margin: 0;
    padding: 0;
}

.clauses-wrapper {
    width: 90%;
    margin: 1vh auto;
    text-align: start;
    font-family: sans-serif;
    font-size: 12px;
    border: rgb(59, 44, 190) 2px solid ;
    border-radius: 10px;
}

.clauses-solidarity, .clauses-resolution, .canvas-signature, .canvas-cleaning {
    margin: 10px 10px 10px ;
}

.canvas-signature, .canvas-cleaning {
    width: fit-content;
    margin: 1vh auto;
}

.canvas-cleaning button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 10px;
    border-radius: 10px;
    background-color: rgb(153, 121, 226);
    padding:5px;
    border: none;
}

#sig-canvas {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
}

.next-btn-wrapper {
    width: 70%;
    margin: auto;
    padding: 1vh 0 1vh 0;
    text-align: center;
    font-family: sans-serif;
}

.next-btn-wrapper button {
    width: 8rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(30, 90, 255);
    padding: 9px;
}

.next-btn-wrapper button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.next-btn-wrapper button:hover {
    background-color: rgb(30, 34, 255);
    transition: 500ms;
}

