* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



li {
    display: inline;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }